{% extends 'aquariums/base.html' %}
{% load staticfiles%}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{{ app_path }}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="hidden" name="next" value="{{ next }}"/>

    <a href="/accounts/register/" style="display: inline-block">
        <button type="button">Go to registration form</button>
    </a>
    <input type="submit" value="Login" style="display: inline-block"/>

</form>

{% endblock %}