<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'aquariums/style.css' %}"/>

<head>
    <meta charset="UTF-8">
    <title>Aquariums</title>
    <link rel="shortcut icon" href="{% static 'aquariums/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'aquariums/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'aquariums/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'aquariums/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aquariums/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'aquariums/manifest.json' %}">
    <!--<script type="text/javascript" src="{% static 'aquariums/jquery-1.12.3.min.js' %}"></script>-->
</head>

<body>
<header>
    <a href="/aquariums/" class="nav-link"><h1> Aquariums </h1></a>
</header>

<nav>
    {% if not user.is_anonymous %}
    <table class="nav-table">
        <tr>
            <td><a href="/aquariums/" class="nav-link"> Aquariums </a></td>
            <td><a href="/fishtypes" class="nav-link"> Fish types </a></td>
            <td><a href="/logout/" class="nav-link"> [ {{ user }} ] logout </a></td>
        </tr>
    </table>
    {% endif %}
</nav>

<section class="content">
    {% block content %}
    {% endblock %}
</section>

<section class="content menu">
    {% block menu %}
    {% endblock %}
</section>

</body>

</html>