{% extends 'aquariums/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="stat-table">
    <div class="stat-column">
        <table>
            <tbody>
                <tr class="row1">
                    <th> Aquarium name: </th>
                    <td> {{aquarium.name}}</td>
                </tr>
                <tr class="row2">
                    <th> Water amount: </th>
                    <td> {{aquarium.water_amount}}</td>
                </tr>
                <tr class="row1">
                    <th> Fishes count: </th>
                    <td> {{statistics.total}}</td>
                </tr>
                <tr class="row2">
                    <th> Females count: </th>
                    <td> {{statistics.females}}</td>
                </tr>
                <tr class="row1">
                    <th> Fries count: </th>
                    <td> {{statistics.fries}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% for typestat in statistics.types %}
        <div class="stat-column">
            <table>
            <tbody>
                <tr class="row1">
                    <th> Type name: </th>
                    <td> {{typestat.name}}</td>
                </tr>
                <tr></tr>

                <tr class="row1">
                    <th> Fishes count: </th>
                    <td> {{typestat.total}}</td>
                </tr>
                <tr class="row2">
                    <th> Females count: </th>
                    <td> {{typestat.females}}</td>
                </tr>
                <tr class="row1">
                    <th> Fries count: </th>
                    <td> {{typestat.fries}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    {% endfor %}
</div>


    <table>
        <thead>
            <tr>
                <th> Fish id </th>
                <th> Fish type </th>
                <th> Age (months)</th>
                <th> Gender </th>
                <th> Move fish </th>
                <th> Remove fish</th>
            </tr>
        </thead>
        <tbody>
            {% for fish in fishes %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{fish.id}}</td>
                    <td> <p class="tooltip">
                         {{fish.fish_type}}
                        <span>
                            <img class="callout fishtype_img" src="{{fish.fish_type.image_url}}" align="middle" /><br/>
                            <strong>{{fish.fish_type}}</strong><br/>
                            Max lifetime: {{fish.fish_type.max_lifetime}} months<br/>
                            Required water amount: {{fish.fish_type.water_amount}} liters<br/>
                            Males: {% widthratio fish.fish_type.males_percent 1 100 %}% <br/>
                            Spawning period: {{fish.fish_type.spawning_period}} months <br/>
                            Max fries count: {{fish.fish_type.max_fries_count}} <br/>
                            Is fry until: {{fish.fish_type.fry_period}} months<br/>
                            Fry's high mortality period: {{fish.fish_type.fry_die_period}} months<br/>
                            Deaths on high mortality period: {% widthratio fish.fish_type.fry_deaths_percent 1 100 %}%<br/>
                        </span>
                    </p>
                    </td>
                    <td> {{fish.age}}</td>
                    <td> {{fish.get_gender_display}}</td>
                    <td>
                    <form action="/movefish" method="post">
                            {% csrf_token %}
                            <select name="new_aquarium_id" >
                                {% for aquarium in aquariums_list%}
                                    <option value="{{aquarium.id}}">{{aquarium}}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="fish_id" value="{{fish.id}}"/>
                            <input type="image" class="run_img" src="{% static 'aquariums/move.png' %}" width="25em" height="25em"/>
                        </form>
                    </td>
                    <td>
                        <form action="/deletefish" method="post" onsubmit="return confirm('Do you really want to remove the {{fish.fish_type}} with id {{fish.id}}?');">
                            {% csrf_token %}
                            <input type="hidden" name="fish_id" value="{{fish.id}}"/>
                            <input type="image" src="{% static 'aquariums/delete.png' %}" width="25em" height="25em"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block menu %}


<script>
    function check(){
        age = document.getElementById("id_age");
        if(age.value < 0){
            alert("Age must be 0 or greater.");
            age.value = 0;
            return false;
        }
        return true;
    }
</script>
<form action="/addfish" method="post" onsubmit="return check()">
    {% csrf_token %}
    <table>
        {{add_fish_form.as_table}}
    </table>
    <input type="hidden" name="aquarium" value="{{aquarium.id}}"/>
    <input type="submit" value="Add fish"/>
</form>

<!--<script>
function addfish(){
    $.ajax({
        url:'addfish',
        type:'post',
        data:$('#addfish_form').serialize(),
        success:function(){
            console.log("success");
        },
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>-->
{% endblock %}
