{% extends 'aquariums/base.html' %}
{% load staticfiles%}

{% block content %}
<form action="/editaquarium/{{aquarium.id}}/save" method="post" >
    {% csrf_token %}
    <table>
        {{edit_aquarium_form.as_table}}
    </table>
    <label class="checkbox">
        <input type="checkbox" name="clean" id="clean"/>
        <span></span>
        <label>Clean aquarium</label>
    </label>
    <input type="submit" value="Edit" id="edit-aquarium-button"/>
</form>
{% endblock %}