{% extends 'aquariums/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="stat-table">
    {% for fishtype, typestat in fishtypes_stat%}
    <div class="stat-column">
        <table>
            <tbody>
            <tr>
                <td colspan="2"><img src="{{fishtype.image_url}}" height="100em"/></td>
            </tr>
            <tr class="row1">
                <th> Type name:</th>
                <td> {{typestat.name}}</td>
            </tr>
            <tr></tr>
            <tr class="row2">
                <th> Max lifetime:</th>
                <td>{{fishtype.max_lifetime}} months</td>
            </tr>
            <tr class="row1">
                <th>Required water amount:</th>
                <td>{{fishtype.water_amount}} liters</td>
            </tr>
            <tr class="row2">
                <th>Males:</th>
                <td>{% widthratio fishtype.males_percent 1 100 %}%</td>
            </tr>
            <tr class="row1">
                <th>Spawning period:</th>
                <td>{{fishtype.spawning_period}} months</td>
            </tr>
            <tr class="row2">
                <th>Max fries count:</th>
                <td>{{fishtype.max_fries_count}}</td>
            </tr>
            <tr class="row1">
                <th>Is fry until:</th>
                <td>{{fishtype.fry_period}} months</td>
            </tr>
            <tr class="row2">
                <th>Fry's high mortality period:</th>
                <td>{{fishtype.fry_die_period}} months</td>
            </tr>
            <tr class="row1">
                <th>Deaths on high mortality period:</th>
                <td>{% widthratio fishtype.fry_deaths_percent 1 100 %}%</td>
            </tr>
            <tr></tr>
            <tr class="row2">
                <th> Fishes count:</th>
                <td> {{typestat.total}}</td>
            </tr>
            <tr class="row1">
                <th> Females count:</th>
                <td> {{typestat.females}}</td>
            </tr>
            <tr class="row2">
                <th> Fries count:</th>
                <td> {{typestat.fries}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% endfor %}
</div>
{% for typestat in typestatistics %}

{% endfor %}
{% endblock %}
