{% extends 'aquariums/base.html' %}
{% load staticfiles%}

{% block content %}

    {% if aquarium_list %}
        <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Water amount </th>
                <th> Filled percentage </th>
                <th> Iteration </th>
                <th> Run months </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for aquarium in aquarium_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> <a href="/aquariums/{{ aquarium.id }}/">{{ aquarium.name }}</a></td>
                    <td> {{aquarium.water_amount}} liters</td>
                    <td> {{aquarium.filled_percent}}</td>
                    <td> {{aquarium.iteration}}</td>
                    <td>
                        <form action="/runlife" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="aquarium_id" value="{{aquarium.id}}"/>
                            <input type="number" name="iterations" value="1" min="1" max="100" height="25em"/>
                            <input type="image" class="run_img" src="{% static 'aquariums/play.png' %}"
                                   width="25em" height="25em" value="{{aquarium.id}}"/>
                        </form>
                    </td>
                    <td> <a href="/editaquarium/{{aquarium.id}}">
                        <img src="{% static 'aquariums/edit.png' %}" width="25em" height="25em"/>
                        </a>
                    </td>
                    <td> <form action="/deleteaquarium" method="post" onsubmit="return confirm('Do you really want to delete the {{aquarium.name}}?');">
                        {% csrf_token %}
                        <input type="hidden" name="aquarium_id" value="{{aquarium.id}}"/>
                        <input type="image" src="{% static 'aquariums/delete.png' %}"
                               width="25em" height="25em" />
                    </form></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No aquariums are available.</p>
    {% endif %}
{% endblock %}
{% block menu %}
<script>
    function check(){
        var valid = document.getElementById("id_name").value != "" &&
                document.getElementById("id_water_amount").value > 0;
        if(!valid){
            alert("Fields are not filled correctly.")
        }
        return valid;
    }
</script>
<form action="/addaquarium" method="post" onsubmit="return check()" >
    {% csrf_token %}
    <table>
        {{add_aquarium_form.as_p}}
    </table>
    <input type="submit" value="Add aquarium" />
</form>
{% endblock%}