body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;

    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
}

header {
    width: 11vw;
    height: 3.5vw;
    float: left;
    background: #6cb7ff;
    color:white;
    text-align:center;
    padding:1vw;
    margin: 0.5vw;
}

nav {
    float: left;
    display: inline-block;
    margin: 0.5vw 0.5vw 0.5vw 0;
    width: 83vw;
    height: 2vw;
    background: #6cb7ff;
    text-align: right;
    font-weight: 300;
    color: white;
}

.nav-table{
    width: 82vw;
    padding: 0.5vw;
    /*height: 100%;*/
    color: white;
    border-collapse: collapse;
}

.nav-link{
    color: white;
    text-decoration: none;
}

nav td{
    padding: 0;
    font-size: 14px;
    border: hidden;
}

nav a:link{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

nav a:visited{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

nav a:hover{
    font-size: 14px;
    color: white;
}

.content {
    background: #e2f1ff;

    margin: 0 0.5vw 0.5vw 0;
    padding: 0.5vw;

    width: 83vw;
    float:left;
}

.menu {
    margin-top: 6.5vw;
    margin-left: 0.5vw;
    width:11vw;
    float: left;
    position: fixed;
    padding: 1vw;
}

.menu input[type=text]{
    width: 10vw;
}

.content:-moz-only-whitespace{
    background: transparent;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

p, ul {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 2vw;
    color: white;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

li ul {
    margin-bottom: 0;
}

li {
    font-size: 13px;
    line-height: 20px;
}

table {
    border-collapse: collapse;
    border-color: #ccc;
    margin: 5px;
}

tr {
    height: 1em;
    vertical-align: middle;
}

td, th {
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-weight: 600;
}

thead th{
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.row1 {
    background: #f6faff;
}

.row2 {
    background: #fff;
}

.stat-table{
    display: table;
}
.stat-column{
    display: table-cell;
}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #94caff, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #94caff, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #94caff, 0 -1px #fff inset;
    background: transparent;
    color:#0a86ff;
    border:none;
    outline:none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.run_img {
    display: inline;
    float: right;
}

input[type='number']{
    display: inline;
    vertical-align: middle;
    float: left;
    width: 3em;
    height: 1em;
}

input[type='submit'], button{
    margin-top: 15px;
    background-color: transparent;
    border-radius: 3px;
    border-color: #0a86ff;
    color: #0a86ff;
    font-size: medium;
    border-style: solid;
}

.checkbox input {
    display: none;
}

.checkbox {
    color: #0069cf;
    display: inline-table;
    vertical-align: middle;
}
.checkbox label{
    padding-left: 5px;
    display: table-cell;
    vertical-align: text-top;
}
.checkbox span {
    width: 20px;
    height: 20px;
    display: table-cell;
    background-image: url("checkbox-unchecked.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.checkbox input:checked + span {
    background-image: url("checkbox-checked.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;}

a:link {
    color: #0069cf;
}

/* visited link */
a:visited {
    color: #0069cf;
}

/* mouse over link */
a:hover {
    color: #0a86ff;
}

.tooltip {outline:none; color: #0069cf}
.tooltip strong {line-height:30px;}
.tooltip:hover {text-decoration:none;}
.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
    text-align: left;
}
.tooltip span table{
    display: none;
}
.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
.tooltip:hover span table{
    display: inline;
}
.callout {z-index:20}
.fishtype_img{ display: inline; height: 10em}

/*CSS3 extras*/
.tooltip span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

#edit-aquarium-button{
    margin-left: 140px;
}